<!-- FORGOT PASSWORD PAGE -->
<% layout('layout/boilerplate.ejs') -%>

<section class="min-vh-100 d-flex align-content-center">
    <div class="row col-10 mx-auto">
        <div class="row justify-content-center">
            <div class="col-md-6 my-auto">
                <div class="card border-0">
                    <img src="/images/forgot.jpg" class="card-img-left">
                </div>
            </div>
            <div class="col-md-6 my-auto">
                <div class="card border-0">
                    <div class="card-body">
                        <h5 class="card-title display-4">Forgot Password</h5>
                        <p class="card-text">Enter your email address below to reset your password.</p>
                        <form novalidate class="validation-required" method="post" action="/auth/forget-password">
                            <div class="form-group">
                                <label for="email">Email address</label>
                                <input type="email" name='email' class="form-control" id="email" aria-describedby="emailHelp" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
                                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                        <div class="mt-3">
                            <a href="/auth/login">Go to login page</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
